
ul .active {

font-weight:bold;
color:#c2185B;
}

input {

  accent-color:#c2185B;
}

body {
  background:black;
}
/* Carousel start */

/* custom.css */


.carousel .control-dots .dot {
    width: 13px;
    height: 13px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    transition: opacity 0.25s ease-in;
  }
  
  .carousel .control-dots .dot.selected, 
  .carousel .control-dots .dot:hover {
    background: #c2185B;
  }
  

  
  .carousel .control-arrow {
    font-size:200px;
    color:purple;
  }
  


/* Carousel end */


.services-container:hover .dropdown-links {
            max-height: 200px;
            opacity: 1;
            transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        }
        .dropdown-links {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        }


/* Tavelers start  */

.traveller {
    position: relative;
    text-align: center;
  }
  
  .traveller-image {
    height: 300px;
    width: 220px;
    cursor: pointer;
    
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .traveller-name {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .traveller:hover .traveller-name {
    bottom: 0px;
    opacity: 1;
    transition: 0.5s ease;
  }

  .traveller-icon {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .traveller:hover .traveller-icon {
    bottom: 80px;
    opacity: 1;
    transition: 0.5s ease;
  }
  


/* Tavelers end  */


/* Reveal animate start */

.reveal-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 0.6s ease-out;
  }
  
  .reveal-element.is-visible {
    opacity: 1;
    transform: translateY(-30px);
  }
  


/* Reveal animate end */

input {
    background:transparent;
    z-index:1111;
}


input:focus,
  input:valid {

     
     
  
  }

  input:focus + .label,
  input:valid + .label {

     transform:translate(-10px,-26px) scale(0.88);
     transition:0.5s ease;
     padding-left:8px;
     font-weight:500px;
     color: #c2185B; 
  }

  textarea:focus + .label,
  textarea:valid + .label {

     transform:translate(-10px,-26px) scale(0.88);
     transition:0.5s ease;
     padding-left:8px;
     font-weight:500px;
     color:#c2185B; 
  
  }

  textarea:focus {

    padding-top:8px;
  }


/* input styles start */






/* input styles end */